# Environment Variables — Frontend
# Copy file ini menjadi .env dan sesuaikan

VITE_API_URL=http://localhost:8000/api
VITE_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxx
VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
